h1{
	text-align: center;
	color: blue;
	margin-bottom: 30px;
	font-size: 60px;
}
.red{
	background-color: #3f51b570;
	font-size: 44px;
	text-transform: uppercase;
	color: tomato;
}
.green{
	background-color:#9c27b038;
	font-size: 44px;
	text-transform: uppercase;
	color: pink;
}